{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col">
      </div>
   </div>
</div>
{% endblock %}
{% block content %}
<!-- Place Directly Under the Opening "body" Tag -->
<div class="" id="preloader">
   <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, deleniti.</blockquote>
</div>
<script type="text/javascript">
   // Adds a "loading" Class to the Preloader
   document.getElementById('preloader').className += 'loading';
</script>
<div class="container h-100">
   <div class="row h-100">
      <div class="col-5 offset-7 col-md-6 my-auto">
         <h1 class="display-4 logo-font text-blue">
            Explore our breakthrough brewmasters
         </h1>
         <div class="my-5">
            <h4>
               <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
               Now</a>
            </h4>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
<!-- https://jsfiddle.net/erlenmasson/24pEZ/ -->
<script type="text/javascript">
   // Create Quotes Array
   var quotes = [];
   
   // The List of Quotes!
   quotes[0] =
       "'The heat of autumn is different from the heat of summer. One ripens apples, the other turns them to cider.' - Jane Hirshfield";
   quotes[1] = "'The older I get, the more I become an apple pie, sparkling cider kind of guy.' - Scott Foley";
   quotes[2] = "'Everybody thinks I drink beer but I actually like cider!' - Prince William";
   quotes[3] = "'The tarter the apple, the tastier the cider. - Beverly Lewis'";
   quotes[4] = "Don't forget to check out our special offers";
   
   // Assign the Variable "quote" with a Random Quotation from Above
   
   var quote = quotes[Math.floor(Math.random() * quotes.length)];
   
   // Alter the Current (Default) Quote Text with a Random Quote
   $('#preloader blockquote').text(quote);
   
   // All Code Inside Here Will Get Executed After 5 Seconds
   setTimeout(function () {
       $('#preloader').fadeOut(2500, function () {
           $('#preloader').removeClass('loading');
       });
   }, 4500);
</script>
{% endblock %}