/* Horizontal card layout found here: https://stackoverflow.com/questions/49141874/bootstrap-4-card-panel-with-image-left-of-header-and-title */

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}