{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Thank you for your order</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Details</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.lineitems.all %}
                    <tr>
                        <td class="text-blue">
                            {{ item.product.name }}
                        </td>
                        <td class="text-blue text-right">
                            <p class="small mb-0">{{ item.quantity }} x £{{ item.product.price }} each</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Delivery Details</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-blue">
                            Order Number
                        </td>
                        <td class="text-blue text-right">
                            {{ order.order_number }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-blue">
                            Full Name
                        </td>
                        <td class="text-blue text-right">
                            {{ order.full_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-blue">
                            Address 1
                        </td>
                        <td class="text-blue text-right">
                            {{ order.street_address1 }}
                        </td>
                    </tr>
                    {% if order.street_address2 %}
                    <td class="text-blue">
                        Address 2
                    </td>
                    <td class="text-blue text-right">
                        {{ order.street_address2 }}
                    </td>
                    {% endif %}
                    {% if order.county %}
                    <tr>
                        <td class="text-blue">
                            County
                        </td>
                        <td class="text-blue text-right">
                            {{ order.county }}
                        </td>
                    </tr>
                     {% endif %}                    
                    <tr>
                        <td class="text-blue">
                            Town or City
                        </td>
                        <td class="text-blue text-right">
                            {{ order.town_or_city }}
                        </td>
                    </tr>
                    {% if order.postcode %}
                    <tr>
                        <td class="text-blue">
                            Postal Code

                        </td>
                        <td class="text-blue text-right">
                            {{ order.postcode }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="text-blue">
                            Country
                        </td>
                        <td class="text-blue text-right">
                            {{ order.country }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-blue">
                            Phone Number
                        </td>
                        <td class="text-blue text-right">
                            {{ order.phone_number }}
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-blue">
                            Order Total
                        </td>
                        <td class="text-blue text-right">
                            £{{ order.order_total }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-blue">
                            Delivery
                        </td>
                        <td class="text-blue text-right">
                            £{{ order.delivery_cost }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-blue">
                            Grand Total
                        </td>
                        <td class="text-blue text-right">
                            £{{ order.grand_total }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col text-center">
            <p class="text-blue">Order confirmation sent to <em>{{ order.email }}</em>.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-blue rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-wine-bottle"></i>
                </span>
                <span class="text-uppercase">Why not check out our latest offers?</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}